html{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    background-color: #231c64;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
header{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    margin-top: -1880px;
}
ul{
    display: inline-flex;
    list-style: none;
}
li{
    position: relative;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 45px;
    background-color: transparent;
    border-radius: 25px;
}
li:hover{
    background-color: #fff;
}
li a{
    color: #000;
    text-decoration: none;
}
main{
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
#profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 630px;
}
#profilepic{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 125px;
    border: 5px #ad326e solid;
}
#profilepic img{
    width: 100%;
    height: 100%;
}
#about{
    width: 600px;
    color: black;
}
#about p{
    width: 100%;
    text-align: start;
}
img{
    width: 100%;
    height: 100%;
}
#profiledesc{
    text-align: start;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-flow: column;
    width: 86%;
}
#profiledesc h2{
    margin: 0;
    color: #5cdd78;
}
#profiledesc h1, #profiledesc p{
    margin: 0;
    color: black;
}
#profiledesc p{
    font-size: 15px;
}
.auto-type{
    color: yellow;
    text-shadow: yellowgreen 0px 0px 10px;
}
#ability{
    margin-top: 200px;
}
#ability h1{
    color: black;
}
#cont{
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#comp{
    width: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.comp{
    padding: 15px;
    margin: 15px;
}
.comp:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,.2);
    border-radius: 5px;
}
#descomp{
    width: 100%;
    height: 150px;
}
#linguagens{
    width: 630px;
}
.lingua a{
    text-decoration: none;
    color: #68BBE3;
}
figure.comp{
    width: 150px;
    height: 150px;
}
.comp img{
    width: 100%;
    height: 100%;
}
#projetos{
    width: 630px;
}
#previewContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
figure.preview{
    width: 290px;
    height: fit-content;
    margin: 5px;
    border-radius: 2px;
}
.preview:hover{
    box-shadow: 0 0 15px 0 black;
}
.preview img{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border: 1px solid black;
    margin: 0;
}
footer{
    margin-top: 300px;
    width: 100%;
    height: 600px;
    background-color: #00162c;
    display: flex;
    justify-content: center;
    align-items: center;
}
#socialmidia{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
#socialmidia figure{
    width: 70px;
    height: 70px;
}
#socialmidia figure img{
    width: 100%;
    height: 100%;
}
#linkgit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}
form{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
#name{
    width: 320px;
    height: 30px;
}
#email{
    width: 320px;
    height: 30px;
}
#message{
    width: 320px;
    height: 150px;
}
#name, #email, #message{
    text-align: center;
    border-radius: 5px;
    background-color: #003060;
    color: #68BBE3;
    border: 1px solid #055C9D;
    margin-bottom: 10px;
}
input::placeholder, textarea::placeholder{
    color: #68BBE3;
}
form button{
    width: 80px;
    height: 30px;
    border: 1px solid #055C9D;
    border-radius: 5px;
    background-color: #003060;
    color: #68BBE3;
}
form button:hover{
    cursor: pointer;
    background-color: #055C9D;
    color: white;
}